
<form action="<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" placeholder="username" name="user[username]">
  <input type="password" placeholder="password" name="user[password]">
  <input type="submit" value="Sign Up">
</form>
